%html{ :lang => 'en' }
  = partial "header"
  %body
    = partial "navigation"
    .container
      .site_title
        = partial "title"
      %article
        %header
          = partial "page_title"
        = preserve yield
    = partial "footer"
