%html{ :lang => 'en' }
  = partial "header"
  %body
    .container
      .site_title
        = partial "title"
      .page_title
        = partial "page_title"
      .content
        = yield
      .footer
        = partial "footer"
