!!!
%html{ :lang => 'en' }
  = partial "header"
  %body{:onload => "prettyPrint()" }
    #wrapper
      = partial "title"
      #content
        .hentry
          = yield
          = partial "footer"
      = partial "sidebar"
    = google_analytics data.config[:site][:analytics_token]
