%html{ :lang => 'en' }
  = partial "header"
  %body
    .container
      .site_title
        = partial "title"
      %article
        %header
          = partial "page_title"
        = yield
        %footer
          = partial "footer"
