!!! 5
%html{ :lang => 'en' }
  = partial "header"
  %body
    = partial "navigation"
    .container
      .site_title
        = partial "title"
      %article
        - articles_by_year.each do |year, articles|
          %h2
            = year
          %ul.index
            - articles.each do |article|
              %li
                = "\u2022"
                = link_to article.title, article.url
