!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title= @site.config[:site][:title]
  %link{ :href => @site.config[:site][:url] }
  %id= @site.config[:site][:url]
  %updated= time_for(longform_articles.first[:created_at])
  %author
    %name= @site.config[:author][:name]
    %email= @site.config[:author][:email]
    %uri= @site.config[:author][:uri]
  %rights= @site.config[:site][:rights]
  - longform_articles.select{|i| i[:feed] == true}[0..4].each do |article|
    %entry
      %id= url_for(article)
      %title= article[:title]
      %link{ :href => url_for(article) }
      %published= time_for(article[:created_at])
      %updated= time_for(article[:created_at])
      %author
        %name= @site.config[:author][:name]
      %content{:type => "html"}= html_escape preserve article.compiled_content
