%head
  %meta{:charset => 'utf-8'}
  = google_webmaster_verification

  %title
    = site_title

  -# Site feed
  - if data.config[:site][:feed]
    %link{ :href => data.config[:site][:feed], :rel => "alternate", :type => "application/rss+xml" }

  -# Specify author of the site
  %link{:href => data.config[:author][:uri], :rel => "author" }

  = stylesheets
  = favicon
  = scripts

  -# HTML5 modernizer
  / [if IE]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
