---
---
%head
  %meta{:charset => 'utf-8'}
  %title
    = site_title

  -# Site feed
  - if @site.config[:site][:feed]
    %link{ :href => @site.config[:site][:feed], :rel => "alternate", :type => "application/rss+xml" }

  -# Specify author of the site
  %link{ :href => @site.config[:author_uri], :rel => "author" }

  -# Site feed
  %link{ :href => @site.config[:feed], :rel => "alternate", :type => "application/rss+xml" }

  = google_fonts
  = stylesheets
  = favicon
  = scripts

  -# HTML5 modernizer
  / [if IE]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

:javascript
  $(document).ready(function(){
    $("a#lightbox_image").fancybox();

    $("a#lightbox_youtube").click(function() {
      $.fancybox({
          'padding'       : 0,
          'autoScale'     : false,
          'transitionIn'  : 'none',
          'transitionOut' : 'none',
          'title'         : this.title,
          'width'         : 680,
          'height'        : 495,
          'href'          : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
          'type'          : 'swf',
          'swf'           : {
            'wmode'           : 'transparent',
            'allowfullscreen' : 'true'
          }
        });

      return false;
    });

  });
