---
---
%head
  %meta{:charset => 'utf-8'}
  %title
    = site_title

  -# Specify author of the site
  %link{ :href => @site.config[:author][:url], :rel => "author" }

  = google_fonts
  = stylesheets
  = favicon
  = scripts

  -# HTML5 modernizer
  / [if IE]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
