---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body{:onload => "prettyPrint()" }
    .container
      = render "_title"
      = render "_navigation"
      %div{:role => "main"}
        %article
          %section
            %header
              %a{:href => relative_path_to(@item) }
                %h2
                  = "#{@item[:title]}"
            = yield
    = google_analytics @site.config[:analytics_token]
-# Uncomment these lines after filling in the urls
-#     = render "_disqus"
