---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body{:onload => "prettyPrint()" }
    #wrapper
      #header
        %h1
          %a.brand{:href => relative_path_to('/') }
            = "Bioinformatics Zen"
        %p
          = "Michael Barton's bioinformatics notes"
      #content
        .hentry
          = render "_title"
          - if item[:category]
            ~ yield
            .hentry
              = comments(@item)
          - else
            = render "_front"
      = render "_navigation"
    = google_analytics @site.config[:site][:analytics_token]
