---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body{:onload => "prettyPrint()" }
    #wrapper
      #header
        %h1
          %a.brand{:href => relative_path_to('/') }
            = "Bioinformatics Zen"
        %small
          = "Michael Barton's bioinformatics notes"
      #content
        .hentry
          = render "_title"
          ~ yield
        .hentry
          = comments(@item)
      = render "_navigation"
    = google_analytics @site.config[:site][:analytics_token]
