---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body{:onload => "prettyPrint()" }
    .container
      = render "_navigation"
      .content
        %article
          %header
            = render "_title"
          %section
            ~ yield
          %section
            = comments(@item)
    = google_analytics @site.config[:analytics_token]
