---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body{:onload => "prettyPrint()" }
    .container
      .page-header
        %a{:href => relative_path_to('/') }
          %h1
            = "Bioinformatics Zen"
        %small
          = "Michael Barton's bioinformatics notes"
      = render "_navigation"
      %div{:role => "main"}
        %section
          %ul.posts
            - sorted_articles.each do |article|
              %li
                %article
                  %span
                    = pretty_date(article)
                  &raquo; &nbsp;
                  %a{:href => relative_path_to(article) }
                    = "#{article[:title]}"
    = google_analytics @site.config[:analytics_token]
