!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title= data.config[:site][:title]
  %link{ :href => data.config[:site][:url] }
  %id= data.config[:site][:url]
  //%updated= time_for(published_articles.first[:created_at])
  %author
    %name= data.config[:author][:name]
    %email= data.config[:author][:email]
    %uri= data.config[:author][:uri]
  %rights= data.config[:site][:rights]
